# Importing libraries

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importing Dataset

In [4]:
dataset = pd.read_csv('cleaned_zomato_data.csv')

In [6]:
dataset.drop(columns=['dish_liked','reviews_list','menu_item','listed_in(type)'], inplace=True)

# Dummy variable for Categorical Feature

In [7]:
dataset['online_order']= pd.get_dummies(dataset.online_order, drop_first=True)
dataset['book_table']= pd.get_dummies(dataset.book_table, drop_first=True)

# Each restaurant count

In [8]:
dataset['rest_type'] = dataset['rest_type'].str.replace(',' , '') 
dataset['rest_type'] = dataset['rest_type'].astype(str).apply(lambda x: ' '.join(sorted(x.split())))

In [9]:
dataset['rest_type'].value_counts().head()

Casual Dining        5912
Bites Quick          4203
Cafe                 1874
Bar Casual Dining    1053
Dessert Parlor        860
Name: rest_type, dtype: int64

# Each cuisines count

In [10]:
dataset['cuisines'] = dataset['cuisines'].str.replace(',' , '') 
dataset['cuisines'] = dataset['cuisines'].astype(str).apply(lambda x: ' '.join(sorted(x.split())))

In [11]:
dataset['cuisines'].value_counts().head()

Indian North                         933
Chinese Indian North                 690
Chinese Indian Indian North South    364
Indian South                         294
Cream Desserts Ice                   266
Name: cuisines, dtype: int64

# Label Encoding Categorical Features

In [12]:
from sklearn.preprocessing import LabelEncoder
T = LabelEncoder()                 
dataset['location'] = T.fit_transform(dataset['location'])
dataset['rest_type'] = T.fit_transform(dataset['rest_type'])
dataset['cuisines'] = T.fit_transform(dataset['cuisines'])

# Input Features and Output Variable

In [13]:
X = dataset.iloc[:, 1:8]
y = dataset.iloc[:, 8]

In [14]:
X

,online_order,book_table,votes,location,rest_type,cuisines,average_cost
0,0,1,5015,42,32,991,1800.0
1,0,0,699,48,29,267,1500.0
2,0,1,125,53,45,1078,2500.0
3,0,0,324,44,21,45,700.0
4,1,0,218,0,29,608,600.0
...,...,...,...,...,...,...,...
18587,1,0,163,53,35,1212,400.0
18588,1,0,25,84,19,939,500.0
18589,1,0,175,78,29,656,750.0
18590,1,0,150,6,29,430,650.0
18591,0,0,2332,76,29,511,700.0

In [15]:
y

0        4.6
1        4.3
2        3.9
3        4.1
4        3.6
        ...
18587    3.7
18588    3.7
18589    4.0
18590    3.9
18591    3.8
Name: rates, Length: 18592, dtype: float64

# Splitting data into training set and test set

In [16]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size = 0.2)

# Feature Scaling

In [17]:
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
X_train = sc_x.fit_transform(X_train)
X_test = sc_x.transform(X_test)

# Training Random Forest ono Training data

In [18]:
from sklearn.ensemble import RandomForestRegressor
from sklearn import metrics
regressor = RandomForestRegressor()
regressor.fit(X_train, y_train)

RandomForestRegressor()

# Result And Accuracy

In [19]:
y_pred = regressor.predict(X_test)
regressor.score(X_test, y_test)*100

90.54236069543242